
:root{
    --prime-color: #ec1414;
    --bg-color: #f2f9ff;
}
html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.nav-box{
    width: 100%;
    padding: 20px 0;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    transition: all .2s;
    z-index: 5;
}
.nav-bar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-main-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.logo img{
    width: 150px;
}

.nav-icon-title{
    font-size: 17px;
    color: #242424;
    margin-top: 5px;
}
.nav-icon-par{
    color: #474747;
    font-size: 15px;
    font-weight: 300;
    margin-top: -10px;
}
.nav-icon{
    width: 30px;
    height: 30px;
    border: #969696 1px solid;
    display: grid;
    place-content: center;
    border-radius: 10px;
    transform: rotate(45deg);
}
.nav-icon i{
    transform: rotate(-45deg);
    font-size: 15px;
    color: var(--prime-color);
}
.dvr{
    width: 1px;
    height: 50px;
    background-color: #000000;
}
.bar{
    width: 40px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.line{
    width: 23px;
    height: 2px;
    background-color: #000000;
    transition: all .5s ease;
}
.scroll{
    box-shadow: rgba(0, 0, 0,0.2) 0px 1px 10px;
    padding: 13px 0;
}

/* links staile */
.nav-links{
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 6;
}
.nav-links ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 800px;
    height: 56px;
    background-color: #ffffff;
    border-radius: 35px;
    position: fixed;
    top: 140px;
}
.nav-links ul li{
    font-size: 16px;
    font-weight: 300;
    position: relative;
    transition: all 1s ;
}
.nav-links ul li::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--prime-color);
    position: absolute;
    bottom: 0;
    transition: all .3s ease;
    transform: scale(0);
}
.nav-links ul li:hover::before{
    position: absolute;
    bottom: 0;
    transform: scale(1);
}

.nav-links ul a{
    text-decoration: none;
    color: #000000;
    transition: all .3s ease;
}
.nav-links ul a:hover{
    color: var(--prime-color);
}
.link-dvr{
    width: 1px;
    height: 20px;
    background-color: #949494;
}
.coll-btn{
    position: fixed;
    top: 140px;
    text-decoration: none;
    color: #fff;
    background-color: var(--prime-color);
    width: 150px;
    height: 56px;
    display: grid;
    place-items: center;
    border-radius: 50px;
    font-size: 16px;
}



/* langing page  */

.land-bg {
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    display: flex;
    align-items: center;
    background-image: url(./image/main-bg.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    
    /* background-color: #fff8f8;
    clip-path: path("M1920,0v863.47c-139.96-60.73-286.31-102.67-434.27-77.65c-92.09,15.57-178.64,56.65-271.16,69.51c-189.48,26.35-378.06-67.99-568.89-54.62c-116.5,8.16-226.05,55.91-339.28,84.49C205.26,910.72,91.75,918.88,0,873.32V0H1920z");
   */
}
  .land-imgs{
    width: 100%;
  }
  .land-imgs img{
    width: 100%;
  }
.land-cunt{
    width: 100%;
    display: flex;
    align-items: center;
}
.land-bg-cont{
    margin-top: 50px;
}

.para{
    font-size: 35px;
    color: #8d0909;
    line-height: 33px;
    font-family: 'Space Grotesk', sans-serif;
}
.para2{
    font-weight: 300;
    font-size: 16px;
    max-width: 500px;
    line-height: 18px;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 20px;
}
.head span{
    font-size: 80px;
    font-weight: 700;
    color: var(--prime-color);
    font-family: 'Space Grotesk', sans-serif;
    line-height: 70px;
}
.get-btn{
    color: var(--prime-color);
    background-color: transparent;
    border: var(--prime-color) solid 1px;
    width: 150px;
    height: 50px;
    display: grid;
    place-content: center;
    border-radius: 50px;
    margin-top: 15px;
    font-weight: 500;
    transition: all 1s ease;
}
.get-btn:hover{
    background-color: transparent;
    color: #fff;
    background: var(--prime-color);
}




/* section 1  */

.product-bg{
    width: 100%;
    padding: 80px 0;
}
.product-head{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.product-head h1{
    color: #242424;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}
.box-cont{
    gap: 10px 0;
}
.box-3{
   min-height: 310px;
   background-color: var(--bg-color);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px 15px;
   border-radius: 15px;
   transition: all .1s ;
}
.box-3:hover{
    background-color: #fff;
    box-shadow: rgba(168, 168, 168, 0.2) 0px 1px 10px;
}
.box-3 img{
    width: 80px;
    height: auto;
}
.box-3 h3{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
    color: #222222;
}
.box-3 p{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #5f5f5f;
}
.order-btn{
    width: 130px;
    height: 40px;
    color: var(--prime-color);
    text-decoration: none;
    background-color: transparent;
    border: var(--prime-color) solid 1px;
    display: grid;
    place-content: center;
    border-radius: 50px;
    transition: all .5s ease-in-out;
    margin-top: 5px;
    font-weight: 500;
}
.order-btn:hover{
    background-color: transparent;
    color: #fff;
    background: var(--prime-color);
}

.dvr-line1,.dvr-line2{
    width: 120px;
    height: 1px;
    background-color: var(--prime-color);
}
.dvr-line2{
    width: 80px;
    margin-top: 5px;
    margin-bottom: 15px;
}


/* section  */
.icon-3-sect{
    padding: 30px;
}
.icon-3-box{
    margin-top: 20px;
}
.box-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
.box-container h1{
    font-size: 20px;
    font-weight: 500;
}
.box-container p{
    font-size: 15px;
    font-weight: 400;
}
.icon-round{
    width: 100px;
    height: 100px;
    background-color: var(--prime-color);
    display: grid;
    place-content: center;
    border-radius: 62% 38% 32% 68% / 61% 62% 38% 39%;
    position: relative;
    margin-bottom: 15px;
}
.icon-round::after{
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 34% 66% 48% 52% / 38% 42% 58% 62%;
    background-color: var(--prime-color);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    /* animation: rotat linear infinite 5s; */
    transform: rotate(150deg);
}
@keyframes rotat{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.icon-round i{
    font-size: 50px;
    color: #fff;
}



/* section 2 */

.box-cont{
    display: flex;
    align-items: center;
    padding:  20px 0;
}


.story-img{
    width: 100%;
}
.story-img img{
    width: 100%;
}
.story-head{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #d11616;
}
.story-para-box{
    width: 100%;
    padding: 0 25px;
}
.box-4 h2{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 15px;
}
.box-4 h2 span{
    color: var(--prime-color);
    font-weight: 600;
}
.box-4 p{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    line-height: 20px;
    max-width: 500px;
}
.contact-btn{
    margin-top: 25px;
}
.contact-btn a{
    text-decoration: none;
    padding: 12px 23px;
    color: var(--prime-color);
    transition: all .2s linear;
    border: solid 1px var(--prime-color);
}
.contact-btn a:hover{
    border-radius:  25px;
    background-color: var(--prime-color);
    color: #fff;
}
/* .Story-section{
    background-color:  rgb(243, 248, 255);
} */


.hed-lines{
    margin-top: 5px;
    width: 80px;
    height: 1px;
    background-color: var(--prime-color);
    position: relative;
}
.hed-lines i{
    position: absolute;
    top: -8px;
    left: 40%;
    background-color: var(--bg-color);
    font-size: 20px;
    color: var(--prime-color);
}


/* section 3 */
.Customer-section{
    background-color: var(--bg-color);
    padding: 30px 0;
}
.customer-hed{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.customer-hed h1{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #d11616;
    margin: 0;
}
.customer-hed p{
    margin-top: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 19px;
    max-width: 700px;
}

.Customers-slide{
    display: grid;
    place-content: center;
    margin: 30px 0;
}
.Customers{
    width: 200px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 25px;
}
.Customers i{
    font-size: 70px;
    color: #3c60ad;
}
.Customers p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    color: #3c60ad;
    margin-top: 15px;
    font-weight: 600;
}



/* footer */
footer{
    width: 100%;
    background-color: #2c2c2c;
    padding: 50px 0;
}
.footer-box{
    margin-bottom: 40px;
}
.footer-box h1{
    font-size: 20px;
    color: #a1a1a1;
    font-weight: 500;
}
.foot-address{
    width: 100%;
}
.foot-address a{
    display: block;
    color: #e4e4e4;
    font-size: 15px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 12px;
}
.foot-links a{
    display: block;
    color: #f2f9ff;
    font-weight: 300;
    width: 200px;
    margin-bottom: 3px;
}
.foter-input input,
.foter-input textarea
{
    background-color: #222222;
    padding: 20px 20px;
    border: none;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    color: #ffffff;
}
.foter-input input:focus,
.foter-input textarea:focus
{
    border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
    outline: none;
}
.foter-input textarea {
    height: 150px;
}
.bottum-dvdr{
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.copyright{
    width: 100%;
    margin: 20px 0;
    display: grid;
    place-content: center;
}
.copyright p{
    color: #f0f0f0;
    font-size: 13px;
    font-weight: 300;
    padding: 0;
    text-align: center;
}
.copyright p span{
    font-weight: 500;
    color: #fff;
}
.copyright p a{
    font-weight: 500;
    color: #fff;
}


@media (max-width: 992px) {

    /* navbar responsive  *******************/

    .logo img{
        width: 120px;
    }
    .nav-main-box{
        display: none;
    }
    .bar{
        display: flex;
    }
    /* *************************************/


    /* navlinks ***************************/

    .nav-links{
        width: 270px;
        height: 100vh;
        background-color: rgb(172, 171, 119);
        position: fixed;
        top: 0;
        left: -350px;
        transition: all .5s ease;
    }
    .nav-links ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        background: transparent;
        position: relative;
        top: 100px;
    }
    .nav-links ul li{
        font-size: 18px;
        font-weight: 400;
        color: #fff;
    }

    .nav-links ul li::before{
        content: "";
        width: 10px;
        height: 10px;
        background-color: var(--prime-color);
        position: absolute;
        bottom: 9px;
        left: -11px;
        transition: all .3s ease;
        transform: scale(0);
        clip-path: polygon(0 0, 0% 100%, 68% 50%);

    }
    .nav-links ul li:hover::before{
        position: absolute;
        bottom: 9px;
        transform: scale(1);
    }
    .nav-links ul li:hover{
        color: #000000;
        transform: translateX(5px);
    }

    .nav-links ul li a{
        color: #ffffff;
    }
    .coll-btn,.link-dvr, .nav-links i {
        display: none;
    }
    .move{
        left: 0;
    }
    .color{
        background-color: #969696;
    }
    .iconanim1{
        transform: translateY(8px) rotate(45deg);
    }
    .iconanim3{
        transform: translateY(-8px) rotate(135deg);
    }
    .iconanim2{
        transform:  translate(-50px);
        opacity: 0;
    }

    /*************************************/

    .slide-text{
        margin-top: 50px;
    }
    .swiper-btn{
        display: none;
    }

    .para{
        font-size: 25px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 5px;
    }
    .head span{
        font-size: 55px;
        font-weight: 600;
        line-height: 40px;
    }
    
  }


  @media (max-width: 768px){
    .para2{
        text-align: center;
    }
    .tex-side{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        text-align: center;
    }
    .customer-hed h1{
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 600;
        font-size: 35px;
    }
    .customer-hed p{
        padding: 0 10px;
        font-size: 15px;
    }
  }




  @media (max-width: 552px){
    .para{
        font-size: 18px;
        text-align: center;
    }
    #element{
        font-size: 45px;
        font-weight: 600;
        line-height: 20px;
    }
    

  }